<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Result" value="C:\Users\Seven\Zoro\Zoro\NewBridge.Zoro.Douban\Result.txt"/>
    <add key="Path" value="C:\Users\Seven\Zoro\Zoro\NewBridge.Zoro.Carousel\images\"/>
    <add key ="Interval" value="60000"/>
  </appSettings>
</configuration>